@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
/*navbar*/
.nav-bar{
    background-color: rgb(148, 148, 244);
    height: 70px;
    border-radius: 20px;
}
.nav-img{
    height:60px;
    width:60px;
    border-radius: 50%;
    margin-left:12vw;
    margin-top: 5px;
}

.about{
    margin-left: 2vw;
}
.coding-chef{
    margin-left:1vw;
    margin-top: 3vh;
    font-size: 30px;
    font-family: cursive;
    font-weight: 900;
}
.person{
    margin-left:3vw;
}
.list{
        display:flex;
        list-style-type: none;
        margin-left: 24vw;
        margin-top:2vh;
        margin-right:20px;
        font-weight: 600;
        
}
.list a{
        color:rgb(9, 9, 9);
        margin-left:10px;
        font-size:20px;
        
        border-bottom:5px solid transparent;
        transition:all .55s ease;
        text-decoration: none;
}
.list a:hover{
        border-bottom: #fff;
        background-color: rgb(113, 113, 244);
        border-radius: 10px;
        text-decoration: none;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color:#0d0c0c;
    }
.million-background{
     height:40vh;
     padding-left:17vw;
     padding-top:40px;
     background-color: rgb(231, 236, 245);
}
.background-img{
    height:30vh;
    
}
.million-text{
    margin-top: 12vh;
    font-size:40px;
    font-weight: 800;
    margin-left:20px;
    color:rgb(8, 116, 159);
}
.globe{
    margin-left: 43vw;
    margin-top:10vh;
}
.globe-text{
    text-align: center;
    margin-top:10px;
    color:rgb(72, 132, 251);
}
.card-client {
    background: #2cb5a0;
    width: 13rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }
.love{
    height:75px;
    width:71px;
    border-radius: 50%;
}
.all-cards{
  margin-top:10vh;
  padding-left: 25vw;
  height:80vh;
  background-color: #9ce3d9;
  padding-top:80px;
}
.cardone{
  margin-right:4vw;
  
}
.cardtwo{
  margin-right:4vw;
}
.co-founder{
  
  font-weight: 800;
  color:#1c1b1b;
  margin-left: 18vw;
  margin-bottom: 10vh;
  margin-top: 1px;
}
